# Python
*.pyc
__pycache__/
*.pyo

# Virtualenv
venv/
env/
.venv/

# Django
db.sqlite3
staticfiles/
media/
whoosh_index/

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

db.sqlite3
db_backup.sqlite3
*.sqlite3
*.env
